<div class="row gap-20 masonry pos-r" id="facebook-stats">
  <div class="masonry-item w-100">
    <div class="row gap-20">
      <div class="col-md-2">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Page Engaged Users</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{ facebook_page_engaged_users }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Page Fans</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{ facebook_page_fans }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Page Impressions</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash2">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">

                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">{{ facebook_page_impressions }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Page Post Engagement</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash2">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">

                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">{{ facebook_page_post_engagements }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Page Impressions Organic</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash2">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">

                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">{{ facebook_page_impressions_organic }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Page Consumptions</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash2">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">

                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">{{ facebook_page_consumptions }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item w-100">
    <div class="row gap-20">
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Page Consumptions</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{ facebook_page_consumptions }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Negative Feedback</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{ facebook_page_negative_feedback }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Video Views</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{ facebook_page_video_views }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Page Impression Paid</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash2">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">

                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">{{ facebook_page_impressions_paid }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-12">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Facebook Combined Stats</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="facebook-combined-stats"></div>
        </div>
        <div class="layer bdT p-20 w-100">
          <div class="peers ai-c jc-c gapX-20">
            <div class="peer">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const get_array = (arr) => {
    const ls = []
    arr.map((val, index)=>{
      ls.push([index+1, val]);
    });
    console.log(ls)
    return ls;
  };

  let facebook_post_engaged_users = {{facebook_post_engaged_users}};
  let facebook_created_time = {{facebook_created_time}};
  let facebook_post_id = {{facebook_post_id}};
  let facebook_post_negative_feedback = {{facebook_post_negative_feedback}}
  let facebook_post_negative_feedback_by_type = {{facebook_post_negative_feedback_by_type}};
  let facebook_post_clicks_unique = {{facebook_post_clicks_unique}};
  let facebook_post_clicks = {{facebook_post_clicks}};
  let facebook_post_engaged_fan = {{facebook_post_engaged_fan}};
  let facebook_post_impressions = {{facebook_post_impressions}};
  let facebook_post_impressions_unique = {{facebook_post_impressions_unique}};
  let facebook_post_impressions_fan = {{facebook_post_impressions_fan}};
  let facebook_post_impressions_organic = {{facebook_post_impressions_organic}};
  let facebook_comments = {{facebook_comments}};
  let facebook_page_negative_feedback_by_type = {{facebook_page_negative_feedback_by_type}};
  let facebook_page_positive_feedback_by_type = {{facebook_page_positive_feedback_by_type}};
  let facebook_page_fans_locale = {{facebook_page_fans_locale}};
  let facebook_page_fans_city = {{facebook_page_fans_city}};
  let facebook_page_fans_gender_age = {{facebook_page_fans_gender_age}};


  var facebook_options = {

      chart: {
          id: "facebook-combined-stats-chart",
          width: '100%',
          height: 460,
          foreColor: "#373d3f",
          toolbar: {
              show: true
          },
          events: {
              dataPointSelection: function(event, chartContext, opts) {
                  window.open(`${mastodon_posts_url[opts.dataPointIndex]}`)
              }
          }
      },

      colors: ['#2E93fA', '#66DA26', '#546E7A', '#E91E63', '#FF9800', '#454687', '#928F92'],
      stroke: {
          curve: 'smooth',
          width: 4,
      },

      grid: {
          borderColor: "#555",
          clipMarkers: false,
          yaxis: {
              lines: {
                  show: false
              }
          }
      },

      dataLabels: {
          enabled: false
      },

      fill: {
          type: "gradient",
          gradient: {
              enabled: true,
              opacityFrom: 0.7,
              opacityTo: 0.9,
              stops: [0, 90, 100],
          }
      },

      markers: {
          size: 3,
          colors: ['#2E93fA', '#66DA26', '#546E7A', '#E91E63', '#FF9800', '#454687', '#928F92'],
          strokeColor: "#65B051",
          strokeWidth: 1
      },

      series: [
          {
              type: "line",
              data: get_array(facebook_post_engaged_users),
              name: "Engaged Users",
          },
          {
            type: "line",
            data: get_array(facebook_created_time),
            name: "Created Time",
          },
          {
            type: "line",
            data: get_array(facebook_post_negative_feedback),
            name: "facebook_post_negative_feedback",
          },
      ],

      tooltip: {
          theme: "light"
      },

      xaxis: {
          categories: facebook_post_id
      },

      yaxis: {
          min: 0,
          tickAmount: 4
      },
  };

  let facebookCombinedChart = new ApexCharts(document.querySelector("#facebook-combined-stats"), facebook_options);
  facebookCombinedChart.render();

</script>