<div class="row gap-20 masonry pos-r" id="linkedin-stats">
  <!-- Combined Stats -->
  <div class="masonry-item w-100">
    <div class="row gap-20">
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Followers</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{ linkedin_followerCount }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Unique Impressions</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{ linkedin_uniqueImpressionsCount }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Share Count</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash2">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">

                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500">{{ linkedin_shareCount }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Share Mentions</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash2">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">

                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500">{{ linkedin_shareMentionsCount }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Engagement</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash2">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">

                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500">{{ linkedin_engagement }}</span>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
  <div class="masonry-item w-100">
    <div class="row gap-20">
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Click Count</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">

                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{ linkedin_clickCount }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Likes</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{ linkedin_likeCount }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Impressions</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500">{{ linkedin_impressionCount }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Comment Mentions</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash2">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">

                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500">{{ linkedin_commentMentionsCount }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Comments</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash2">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">

                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500">{{ linkedin_commentCount }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- LINKEDIN FOLLOWER STATS -->
  <div class="masonry-item w-100">
    <div class="row gap-20">
      <div class="col-md-12">
        <h3 style="text-align: center;background-color: #fff;">LINKEDIN FOLLOWERS STATS</h3>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Follower Counts By Region</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="linkedin_followerCountsByRegion"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Follower Count By Industry</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="linkedin_followerCountsByIndustry"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Follower Counts By Function</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="linkedin_followerCountsByFunction"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Follower Counts By Country</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="linkedin_followerCountsByCountry"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-12">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Linkedin Weekly Follower Stats</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="linkedin-weekly-follower-stats"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-4">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Follower Count By Association Type</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="linkedin-follower-count-by-association-type"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-4">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">FollowerCounts By Seniority</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="linkedin_followerCountsBySeniority"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-4">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Follower Counts By Staff Count Range</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="linkedin_followerCountsByStaffCountRange"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- LINKEDIN POST STATS -->
  <div class="masonry-item w-100">
    <div class="row gap-20">
      <div class="col-md-12">
        <h3 style="text-align: center;background-color: #fff;">LINKEDIN POST STATS</h3>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-12">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">LINKEDIN POSTS STATS</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="linkedin-post-stats"></div>
        </div>
        <div class="layer bdT p-20 w-100">
          <div class="peers ai-c jc-c gapX-20">
            <div class="peer">
              <span class="fsz-def fw-600 mR-10 c-grey-800"><i
                  class="fa fa-level-up c-green-500"></i></span>
              <small class="c-grey-500 fw-600">Click on data-points to open Linkedin Posts</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- LINKEDIN PAGE STATS -->
  <div class="masonry-item w-100">
    <div class="row gap-20">
      <div class="col-md-12">
        <h3 style="text-align: center;background-color: #fff;">LINKEDIN PAGE STATS</h3>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">linkedin page Statistics By Country</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="linkedin_pageStatisticsByCountry"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Linkedin Page Statistics By Industry</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="linkedin_pageStatisticsByIndustry"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Linkedin Page Statistics By Seniority</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="linkedin_pageStatisticsBySeniority"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Linkedin Page Statistics By Staff Count Range</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="linkedin_pageStatisticsByStaffCountRange"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Linkedin Page Statistics By Region</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="linkedin_pageStatisticsByRegion"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Linkedin Page Statistics By Function</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="linkedin_pageStatisticsByFunction"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Linkedin Weekly Page Stats</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="linkedin_weekly_page_stats"></div>
        </div>
      </div>
    </div>
  </div>
</div>
