<div class="row gap-20 masonry pos-r" id="reddit-stats">
  <div class="masonry-item col-md-8">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">KDE Reddit Posts Stats</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="kde-reddit-posts-chart"></div>
        </div>
        <div class="layer bdT p-20 w-100">
          <div class="peers ai-c jc-c gapX-20">
            <div class="peer">
              <span class="fsz-def fw-600 mR-10 c-grey-800"><i
                  class="fa fa-level-up c-green-500"></i></span>
              <small class="c-grey-500 fw-600">Click on data-points to open Reddit Posts</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-4">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Reddit top keywords</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="kde-reddit-top-kewords"></div>
        </div>
      </div>
    </div>
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Reddit Top Contributors</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="kde-reddit-top-contributor"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- KRITA -->
  <div class="masonry-item w-100">
    <div class="row gap-20">
      <div class="col-md-12">
        <h3 style="text-align: center;background-color: #fff;">KRITA REDDIT STATS</h3>
      </div>
    </div>
  </div>
  <div class="masonry-item w-100">
    <div class="row gap-20">
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">subreddit Id</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{ krita_reddit_subredditId }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Comments Per Subscriber</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{ "%.8f"|format(krita_reddit_commentsPerSubscriber|float) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Posts Per Subscriber</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500" >{{ "%.8f"|format(krita_reddit_postsPerSubscriber|float) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Comments Per Hour</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500" >{{ "%.8f"|format(krita_reddit_commentsPerHour|float) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item w-100">
    <div class="row gap-20">
      <div class="col-md-4">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Krita Subscribers Count</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500" >{{ krita_reddit_subscriberCount }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Gilds per subscriber</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500" >{{ "%.8f"|format(krita_reddit_gildsPerSubscriber|float) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Krita Posts Per Hour</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500" >{{ "%.8f"|format(krita_reddit_postsPerHour|float) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Krita Reddit top keywords</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="krita-reddit-top-kewords"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Krita Reddit top Comments by frequency</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="krita-reddit-top-comments"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Krita Reddit top posters by frequency</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="krita-reddit-top-posters"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Krita Reddit top linked domains</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="krita-reddit-top-domains"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- KDE -->
  <div class="masonry-item w-100">
    <div class="row gap-20">
      <div class="col-md-12">
        <h3 style="text-align: center;background-color: #fff;">KDE REDDIT STATS</h3>
      </div>
    </div>
  </div>
  <div class="masonry-item w-100">
    <div class="row gap-20">
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Subreddit Id</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{ kde_reddit_subredditId }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Comments Per Subscriber</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{ "%.8f"|format(kde_reddit_commentsPerSubscriber|float) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Posts Per Subscriber</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500" >{{ "%.8f"|format(kde_reddit_postsPerSubscriber|float) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Comments Per Hour</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500" >{{ "%.8f"|format(kde_reddit_commentsPerHour|float) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item w-100">
    <div class="row gap-20">
      <div class="col-md-4">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Subscribers Count</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500" >{{ kde_reddit_subscriberCount }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Gilds per subscriber</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500" >{{ "%.8f"|format(kde_reddit_gildsPerSubscriber|float) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Posts Per Hour</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500" >{{ "%.4f"|format(kde_reddit_postsPerHour|float) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">KDE Reddit top keywords</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="reddit-kde-top-kewords"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">KDE Reddit top Comments by frequency</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="kde-reddit-top-comments"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">KDE Reddit top posters by frequency</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="kde-reddit-top-posters"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">KDE Reddit top linked domains</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="kde-reddit-top-domains"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Kdenlive -->
  <div class="masonry-item w-100">
    <div class="row gap-20">
      <div class="col-md-12">
        <h3 style="text-align: center;background-color: #fff;">KDENLIVE REDDIT STATS</h3>
      </div>
    </div>
  </div>
  <div class="masonry-item w-100">
    <div class="row gap-20">
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">subreddit Id</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{ kdenlive_reddit_subredditId }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Comments Per Subscriber</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{ "%.8f"|format(kdenlive_reddit_commentsPerSubscriber|float) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Posts Per Subscriber</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500" >{{ "%.8f"|format(kdenlive_reddit_postsPerSubscriber|float) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Comments Per Hour</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500" >{{ "%.8f"|format(kdenlive_reddit_commentsPerHour|float) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item w-100">
    <div class="row gap-20">
      <div class="col-md-4">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Subscribers Count</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500" >{{ kdenlive_reddit_subscriberCount }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Gilds per subscriber</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500" >{{ "%.8f"|format(kdenlive_reddit_gildsPerSubscriber|float) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Krita Posts Per Hour</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500" >{{ "%.8f"|format(kdenlive_reddit_postsPerHour|float) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">kdenlive Reddit top keywords</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="kdenlive-reddit-top-kewords"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">kdenlive Reddit top Comments by frequency</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="kdenlive-reddit-top-comments"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">kdenlive Reddit top posters by frequency</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="kdenlive-reddit-top-posters"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">kdenlive Reddit top linked domains</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="kdenlive-reddit-top-domains"></div>
        </div>
      </div>
    </div>
  </div>
</div>
