<div class="row gap-20 masonry pos-r" id="youtube-stats">
  <div class="masonry-item w-100">
    <div class="row gap-20">
      <div class="col-md-4">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Total Views</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">
                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{
                  youtube_channel_viewCount }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Total Subscribers</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash2">
                  <canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;">

                  </canvas>
                </span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">{{
                  youtube_channel_subscriberCount }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">All Videos Count</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed"><span id="sparklinedash3"><canvas width="45" height="20"
                    style="display: inline-block; width: 45px; height: 20px; vertical-align: top;"></canvas></span>
              </div>
              <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500">{{
                  youtube_channel_videoCount }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="masonry-item col-md-12">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Youtube Videos Combined Stats</h6>
        </div>
        <div class="layer w-100 p-20">
          <div id="youtube-video-combined-stats"></div>
        </div>
        <div class="layer bdT p-20 w-100">
          <div class="peers ai-c jc-c gapX-20">
            <div class="peer">
              <span class="fsz-def fw-600 mR-10 c-grey-800"><i
                  class="fa fa-level-up c-green-500"></i></span>
              <small class="c-grey-500 fw-600">Click On data-points to open Youtube Video</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  let youtube_video_views = {{ youtube_video_views }};
  let youtube_video_id = {{ youtube_video_id }};
  let youtube_video_likes = {{ youtube_video_likes }};
  let youtube_video_dislikes = {{ youtube_video_dislikes }};
  let youtube_video_comments = {{ youtube_video_comments }};
  let youtube_video_favorites = {{ youtube_video_favorites }};

  let views = [];
  let likes = [];
  let dislikes = [];
  let comments = [];
  let favorites = [];

  for (var i = 0; i <= youtube_video_views.length; i++) {
    views.push([i + 1, youtube_video_views[i]]);
    likes.push([i + 1, youtube_video_likes[i]]);
    dislikes.push([i + 1, youtube_video_dislikes[i]]);
    comments.push([i + 1, youtube_video_comments[i]]);
    favorites.push([i + 1, youtube_video_favorites[i]]);
  }

  var options1 = {

    chart: {
      id: "youtube-video-combined-stats-chart",
      height: 500,
      foreColor: "#ccc",
      toolbar: {
        show: true
      },
      events: {
        dataPointSelection: function (event, chartContext, opts) {
          window.open(`https://youtu.be/${youtube_video_id[opts.dataPointIndex]}`)
        }
      }
    },

    colors: ['#2E93fA', '#66DA26', '#546E7A', '#E91E63', '#FF9800'],
    stroke: {
      curve: 'smooth',
      width: 4,
    },

    grid: {
      borderColor: "#555",
      clipMarkers: false,
      yaxis: {
        lines: {
          show: false
        }
      }
    },

    dataLabels: {
      enabled: false
    },

    fill: {
      type: "gradient",
      gradient: {
        enabled: true,
        opacityFrom: 0.7,
        opacityTo: 0.9,
        stops: [0, 90, 100],
      }
    },

    markers: {
      size: 3,
      colors: ['#2E93fA', '#66DA26', '#546E7A', '#E91E63', '#FF9800'],
      strokeColor: "#65B051",
      strokeWidth: 1
    },

    series: [
      {
        type: "line",
        data: views,
        name: "views",
      },
      {
        type: "line",
        data: likes,
        name: "likes",
      },
      {
        type: "line",
        data: dislikes,
        name: "dislikes",
      },
      {
        type: "line",
        data: comments,
        name: "comments",
      },
      {
        type: "line",
        data: favorites,
        name: "favorites",
      }
    ],

    tooltip: {
      theme: "light"
    },

    xaxis: {
      categories: youtube_video_id
    },

    yaxis: {
      min: 0,
      tickAmount: 4
    },
  };

  var youtubeVideoChart = new ApexCharts(document.querySelector("#youtube-video-combined-stats"), options1);
  youtubeVideoChart.render();

</script>